.Hero {
  list-style: none;
  position: relative;
  margin: 1rem;
  overflow: hidden;
  height: 144px;
  box-shadow: 2px 2px 5px #222222;

  img.avatar {
    height: 144px;
    width: 256px;
  }

  // &:hover {
  //   .hero-label {
  //     bottom: 0px;
  //   }
  // }

  .hero-label {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    padding: 0 1rem;
    width: 256px;
    height: 60px;
    position: absolute;
    // bottom: -60px;
    bottom: 0px;
    // transition: all 0.5s;

    img.attr {
      height: 30px;
      width: 30px;
      position: relative;
      top: 3px;
    }

    h2 {
      color: white;
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 700;
      margin: 0 0 0 10px;
      line-height: 1;
    }
  }
}
