.Filters {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  padding: 1rem;

  h1,
  h2 {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0 1rem;
  }

  h2 {
    font-weight: 500;
    color: #768499;
  }

  .option {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 0.1rem;
  }
  .attr-filter {
    display: flex;

    img.attr {
      filter: grayscale(1);

      &.str {
        filter: grayscale(1) brightness(1.8);
      }

      &.active {
        filter: grayscale(0);
        // background: #7f7f7f;
      }
    }
  }

  .compl-filter {
    display: flex;
    .compl {
      background: #acacac;
      position: relative;

      &.active {
        background: #dedede;
      }

      &::before {
        content: '';
        position: absolute;
        height: 14px;
        width: 14px;
        left: 8px;
        top: 8px;
        transform: rotate(45deg);
        background: #111319;
      }
    }
  }
}
