.Filters {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  padding: 1rem;

  .filters-container {
    display: flex;
    flex-wrap: wrap;

    & > div {
      margin: 0.5rem 0;
    }
  }

  h1,
  h2 {
    text-transform: uppercase;
    font-size: 1rem;
  }

  h2 {
    margin: 0 1rem;
    font-weight: 500;
    color: #768499;
    min-width: 90px;
  }

  .option {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 0.1rem;
  }
  .attr-filter,
  .compl-filter,
  .role-filter {
    display: flex;
  }
  .attr-filter {
    img.attr {
      filter: grayscale(1);

      &.str {
        filter: grayscale(1) brightness(1.8);
      }

      &.active {
        filter: grayscale(0);
      }
    }
  }

  .compl-filter {
    .compl {
      background: #acacac;
      position: relative;

      &.active {
        background: #dedede;
      }

      &::before {
        content: '';
        position: absolute;
        height: 14px;
        width: 14px;
        left: 8px;
        top: 8px;
        transform: rotate(45deg);
        background: #111319;
      }
    }
  }

  .role-filter {
    .role-options {
      display: flex;
      flex-wrap: wrap;

      .text-option {
        padding: 0 0.5rem;
        color: #acacac;
        cursor: pointer;

        &.active {
          color: white;
        }
      }
    }
  }
}
